@model Freed.Presentacion.FreedServices.configuracionClienteDTO

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Esta seguro de querer eliminar la configuración del cliente?</h3>
<div>
    <h4>Configuración de Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.configuracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.configuracion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
